body {
	padding-top: 25px;
	background-color: rgb(80,194,140);
}

.container {
	width: 95%;
}

.top-row{
	height: 70vh;
}

#introduction{
	height: 50vh;
	margin-top: 20vh;
	color: #373737;
	width: 50%;
}

.introduction-overlay{
	background-color: #f4f4f4;
	margin-top: 50px;
	height: 65%;
	border-radius: 5px;
}

.greeting {
	font-size: 48px;
	color: #373737;
	font-family: 'Roboto Slab', serif;

}

.intro-blurb{
	font-size: 20px;
	font-family: 'Roboto Slab', serif;

}

.shadow {
   -moz-box-shadow: 8px 8px 2px 0px rgba(0,0,0,.75);
   -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,.75);
   box-shadow: 11px 10px 5px 0px rgba(0,0,0,.75);;
}

.image-overlay{
}

.lazySVG{
	width: 150px;
}

#lightbulb {
	padding-top: 50px;
	margin: 0 auto;
}

@keyframes spin {
  100% {transform: rotate(1turn); }
}

#gear {
	padding-top: 20px;
	margin-left: 70%;
	position: absolute;
	animation: spin 10s linear infinite;
	animation-play-state: paused;
}

#gear:hover{
	animation-play-state: running;
}

#smartphone{
	padding-top: 20px;
	position: absolute;
	margin-left: 10%;
}

.left-float {
	float: left;
}

#top-image {
	background-color: #C0B283;
	border-radius: 20%;
	width: 30%;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	position: relative;
}

.nav-arrow {
	width: 10%;
	margin: 0 auto;
	display: block;
}

.nav-arrow:hover{

}



.project-left {
	background-color: #F4F4F4;
	border-style: none;
	border-color: grey;
	border-width: 3px;
	border-radius: 5px;
	display: block;
	height: 50vh;
}

.project-right {
	background-color: #F4F4F4;
	border-style: none;
	border-color: grey;
	border-width: 3px;
	border-radius: 5px;
	display: block;
	height: 50vh;

}

.projectImage {
	margin: 5px;
}


.projectButton {
	margin: 3px auto;
	display: block;
	border-radius: 3px;
	background-color: #F7B733;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border-style: none;
}

img {
	width: 100%;
	animation: 
}

.navbar-fixed-top{
	background-color: rgb(9,17,23);
	border: none;
	color: white;
}

.navbar .navbar-brand {
	color: white;
}

.navbar-fixed-top li a{
	color: white;
}

.navbar-default .navbar-nav>li>a {	
	color: white;
}

.navbar-fixed-top.scrolled {
  transition: background-color 200ms linear;
  border-bottom: solid grey 2px;
}

.section-header{
	text-decoration: underline;
}

//Animations

